/* Propiedad Inicial */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente Couture */
@font-face {
    font-family: 'couture';
    src: url('../fonts/couture-bld-webfont.woff') format('truetype');
    font-style: normal;
    font-weight: normal;
}

couture {
    font-family: 'couture', sans-serif;
}

/* Fuente Darloune */
@font-face {
    font-family: 'darloune';
    src: url('../fonts/darloune-webfont.woff') format('truetype');
    font-style: normal;
    font-weight: normal;
}

darloune {
    font-family: 'darloune', sans-serif;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header header"
        "hero hero hero hero"
        "nosotros nosotros nosotros nosotros"
        "brinco brinco brinco brinco"
        "servicios servicios servicios servicios"
        "contacto contacto contacto contacto"
        "footer footer footer footer";
}

.header {
    grid-area: header;

}

.header img {
    height: 3rem;
    width: 3.5rem;
}


.navbar-expand-lg {
    display: flex;
    justify-content: flex-end;
    background-color: #5D425F !important;
    font-family: 'couture' !important;
    text-align: center;

}

.navbar-collapse {
    background-color: #5D425F !important;
    font-family: 'couture' !important;
    text-align: center;
    justify-content: flex-end;
    margin-right: 1rem;
}


#navbarNav {
    justify-content: flex-end;
    margin-right: 1rem;
}

.navbar-toggler {
    color: #ffffff !important;
    margin-right: 1rem;
}

.navbar-toggler-icon {
    color: #ffffff !important;
}

a.nav-link {
    color: #ffff !important;
    font-family: 'couture' !important;
}

.hero {

    grid-area: hero;
    background-image: url(../img/hero\ con\ limon2\ \(1\).png);
    background-position: center center;
    background-size: cover;
    text-align: center;
    height: 50rem;
    width: 100%;
    object-fit: cover;
    object-position: bottom;

}

.hero h1 {
    font-family: 'darloune';
    text-align: left;
    margin-top: 7rem;
    margin-left: 3rem;
}

.hero h3 {
    font-family: 'couture';
    text-align: left;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 50%;
}

.hero h5 {
    text-align: left;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 45%;
}

.botones-hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 45%;
}

.botones-hero a {
    text-decoration: none;
    color: black;
}

.boton-llamar {
    width: 15rem;
    height: 5rem;
    border-style: none;
}

.boton-llamar button {
    width: 13rem;
    height: 3rem;
    margin-top: 2rem;
    border-style: none;
    border-radius: 1rem;
    font-weight: 600;
    background-color: rgba(50, 50, 231, 0.216);
}

.boton-WA {
    width: 15rem;
    height: 5rem;
    border-style: none;
}

.boton-WA button {
    width: 13rem;
    height: 3rem;
    margin-top: 2rem;
    border-style: none;
    border-radius: 1rem;
    font-weight: 600;
    background-color: rgba(50, 50, 231, 0.216);

}

.nosotros {
    grid-area: nosotros;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    flex-wrap: wrap;
    height: 35rem;
    width: auto;
    height: auto;
    margin-top: 3rem;
}

.nosotros h5 {
    text-align: center;
}

.nosotros-a {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.nosotros-a h2 {
    font-family: 'darloune';
}

.nosotros-b {

    background-image: url(../img/nosotros-1.png);
    object-fit: contain;
    background-position: center center;
    background-size: cover;
    margin-right: 3rem;
    height: 73%;
    margin-top: 4rem;
    border-radius: 3rem;
    margin-bottom: 20rem;
    margin-left: 3rem;

}

.titulo-servicios {
    grid-area: brinco;
    text-align: center;
    font-family: 'darloune';
}

.servicios {
    grid-area: servicios;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.servicios-a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.servicios-b {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.servicios-c {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.servicios-d {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.servicios-e {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}



.servicios h5 {
    text-align: center;
}

.servicios p {
    text-align: justify;
}

.servicios button {
    text-align: center;
    background-color: rgba(50, 50, 231, 0.216) !important;
}

.servicios img {
    height: 10rem;
    width: 10rem;
    align-content: center;
    align-self: center;
    margin-top: 2rem;
}

.card-body {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(75px, 1fr));
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: start;
    height: 18rem;

}

.card {
    min-height: 18rem;
    text-align: justify;
    width: fit-content;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: rgba(140, 50, 231, 0.722) !important;
    width: 100%;
    margin-top: 1rem;
    font-weight: 400;

}

.contacto {
    grid-area: contacto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    background-image: url(../img/contacto.png);
    height: 40rem;
    background-attachment: fixed;
    background-position: no-repeat;
    background-size: cover;
    height: fit-content;
    width: 100%;
}

.formulario {
    background-color: #bd1ec84f;
    display: flex;
    justify-content: center;
    width: 35rem;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.formulario h2 {
    text-align: center;
    color: #ffffff;
    margin-top: 3rem;
    font-family: 'darloune';
}

.row {
    justify-content: center;
    margin-bottom: 3rem;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    align-items: center;
    align-content: center;
    justify-items: center;
    grid-area: footer;
    text-align: center;
    list-style: none;
    list-style-type: none;
    background-color: #5D425F;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
}

.footer a {
    text-decoration: none;
}

.footer-a {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
}

.footer-a ul {
    list-style-type: none;
    text-align: center;
    justify-content: flex-start;
    margin-left: -2rem;
    text-decoration: none;
    color: #ffffff;
}

.footer-a a {
    text-decoration: none;
    color: #ffffff;
}

.footer-b {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 8rem;
}

.footer-c {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 0, 0, 0;
    margin-top: 2rem;

}

.footer-c ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    justify-content: flex-start;
    text-decoration: none;
    color: #ffffff;
}

.footer-c a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    justify-content: flex-start;
    margin-left: -2rem;
    text-decoration: none;
    color: #ffffff;
}